Package: kylin-screenshot
Version: 1.0.0-1
Architecture: amd64
Maintainer: huanhuan zhang <zhanghuanhuan@kylinos.cn>
Installed-Size: 1813
Depends: libqt5svg5, libavcodec58 (>= 7:4.2), libavformat58 (>= 7:4.2), libavutil56 (>= 7:4.0), libc6 (>= 2.29), libgcc-s1 (>= 3.0), libqt5core5a (>= 5.12.2), libqt5dbus5 (>= 5.0.2), libqt5gui5 (>= 5.10.0) | libqt5gui5-gles (>= 5.10.0), libqt5network5 (>= 5.0.2), libqt5widgets5 (>= 5.11.0~rc1), libqt5x11extras5 (>= 5.6.0), libstdc++6 (>= 6), libswscale5 (>= 7:4.0), libx11-6, libxext6, libxfixes3, libxinerama1
Suggests: ca-certificates, openssl
Section: graphics
Priority: optional
Homepage: https://github.com/lupoDharkael/flameshot
Description: Powerful yet simple-to-use screenshot software
 Flameshot is a powerful yet simple-to-use screenshot software.
 Notable features include customizable appearance, in-app screenshot editing,
 D-Bus interface, experimental GNOME/KDE Wayland support, integration with
 Imgur and support for both GUI and CLI interface.
