Makefile
kylin-screenshot
translations/*qm
debian/kylin-screenshot/*
debian/.debhelper/
debian/debhelper*
*.log
*stamp
debian/files
debian/*.substvars
img/app*
img/hicolor*
dbus/make/org.dharkael.kylin-screenshot.service
dbus/package/org.dharkael.kylin-screenshot.service 
dbus/org.dharkael.Flameshot.xml

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl
# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

#rpm
rpm/*.spec
