[Desktop Entry]
Name=kylin-screenshot
Name[zh_CN]=麒麟截图
GenericName=Screenshot tool
GenericName[zh_CN]=屏幕截图工具
GenericName[pl]=Zrzuty ekranu
GenericName[fr]=Outil de capture d'écran
GenericName[ja]=スクリーンショットツール
GenericName[ru]=Создание скриншотов
GenericName[sr]=Снимач екрана
GenericName[uk]=Інструмент скриншотів
Comment=Powerful yet simple to use screenshot software.
Comment[zh_CN]=强大又易用的屏幕截图软件
Comment[pl]=Proste w użyciu narzędzie do zrzutów ekranu
Comment[fr]=Logiciel de capture d'écran puissant et simple d'utilisation.
Comment[ja]=パワフルで使いやすいスクリーンショットソフトウェア。
Comment[ru]=Простой и функциональный инструмент для создания скриншотов
Comment[sr]=Једноставан, а моћан алат за снимање екрана
Comment[uk]=Потужний простий у використанні додаток для створення знімків екрану.
Keywords=kylin-screenshot;screenshot;capture;shutter;
Keywords[zh_CN]=kylin-screenshot;screenshot;capture;shutter;截图;屏幕;
Keywords[fr]=kylin-screenshot;capture d'écran;capter;shutter;
Keywords[ja]=kylin-screenshot;screenshot;capture;shutter;スクリーンショット;キャプチャー;
Exec=kylin-screenshot
Icon=kylin-screenshot
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false

