Source: kylin-screenshot
Section: graphics
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: huanhuan zhang <zhanghuanhuan@kylinos.cn>
Build-Depends: debhelper-compat (= 12),
               qt5-qmake,
               qtbase5-dev,
               qttools5-dev-tools,
               libqt5svg5-dev,
               libavformat-dev,
               libavcodec-dev,
               libavutil-dev,
               libswscale-dev,
               libpulse-dev,
               libqt5x11extras5,
               libqt5x11extras5-dev,
               libxfixes3,
               libxfixes-dev,
               libx11-dev,
               libxinerama1,
               libxinerama-dev,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ubuntukylin/kylin-screenshot
Vcs-Browser: https://github.com/ubuntukylin/kylin-screenshot
Vcs-Git: https://github.com/ubuntukylin/kylin-screenshot.git

Package: kylin-screenshot
Architecture: any
Depends: libqt5svg5,
         ${shlibs:Depends},
         ${misc:Depends},
Suggests: ca-certificates,
          openssl
Description: Powerful yet simple-to-use screenshot software
 kylin-screenshot is a powerful yet simple-to-use screenshot software.
 Notable features include customizable appearance, in-app screenshot editing,
 D-Bus interface, experimental GNOME/KDE Wayland support, integration with
 Imgur and support for both GUI and CLI interface.
