Source: kylin-screenshot
Section: graphics
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper-compat (= 12),
               qt5-qmake,
               qtbase5-dev,
               qttools5-dev-tools,
               libqt5svg5-dev,
               libavformat-dev,
               libavcodec-dev,
               libavutil-dev,
               libswscale-dev,
               libpulse-dev,
               libqt5x11extras5,
               libqt5x11extras5-dev,
               libxfixes3,
               libxfixes-dev,
               libx11-dev,
               libxinerama1,
               libxinerama-dev,
	       libgsettings-qt-dev,
	       libkf5windowsystem5,
	       libkf5windowsystem-dev,
               libukui-log4qt-dev,
               libxtst-dev,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ubuntukylin/kylin-screenshot
Vcs-Browser: https://github.com/ubuntukylin/kylin-screenshot
Vcs-Git: https://github.com/ubuntukylin/kylin-screenshot.git

Package: kylin-screenshot
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Suggests: ca-certificates,
          openssl
Description: Powerful yet simple-to-use screenshot software
 kylin-screenshot is a powerful screenshot and screen recording tool.
 It allows you to take screenshots of the captured images in rectangular
 and circular boxes, set blur, add markers, add text and more. And set
 mouse display, sound recording, video frame rate, audio bit rate when
 making screen recording.
