Package: kylin-screenshot-dbgsym
Package-Type: ddeb
Source: kylin-screenshot
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: huanhuan zhang <zhanghuanhuan@kylinos.cn>
Installed-Size: 24932
Depends: kylin-screenshot (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for kylin-screenshot
Build-Ids: f7ecd6f95b52f63c7d651eb6aa25b3e1966ddb4e
