Package: kylin-screenshot-dbgsym
Package-Type: ddeb
Source: kylin-screenshot
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: huanhuan zhang <zhanghuanhuan@kylinos.cn>
Installed-Size: 24933
Depends: kylin-screenshot (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for kylin-screenshot
Build-Ids: 6b6a9c213949ed8ec09cc67708b4c4d8125e618f
